<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Offcia Suite">
<test name="test offcia">
    <parameter name="url" value="https://www.okayzhihui.com" />
    <!--   -->
    <groups>
        <run>
            <!--  商城的分组
            <include name="mall" />
            -->

            <!-- 官网的分组 -->
            <include name="offcial" />

        </run>
    </groups>

    <classes>
        <!-- 官网 -->
        <class name="cn.okay.officialwebsitetest.secondpagetest.HomeToSecondPageTest"/>
        <class name="cn.okay.officialwebsitetest.secondpagetest.ParentSecondPageTest"/>
        <class name="cn.okay.officialwebsitetest.secondpagetest.TrainingInstitutionPageTest"/>
        <class name="cn.okay.officialwebsitetest.otherlevelpagetest.ThirdPageTest"/>
        <class name="cn.okay.officialwebsitetest.otherlevelpagetest.FourthPageTest"/>
    </classes>

</test>
<listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    <listener class-name="cn.okay.tools.MyTestNGListener" />
</listeners>
</suite>
