<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Test Suite">

    <groups>
        <run>
            <!--  商城的分组  -->
            <include name="mall" />

            <!-- 官网的分组 -->
            <include name="offcial" />
        </run>
    </groups>

    <test name="Offcia Web">
        <classes>
            <class name="cn.okay.officialwebsitetest.secondpagetest.HomeToSecondPageTest"/>
            <class name="cn.okay.officialwebsitetest.secondpagetest.ParentSecondPageTest"/>
            <class name="cn.okay.officialwebsitetest.secondpagetest.TrainingInstitutionPageTest"/>
            <class name="cn.okay.officialwebsitetest.otherlevelpagetest.ThirdPageTest"/>
            <class name="cn.okay.officialwebsitetest.otherlevelpagetest.FourthPageTest"/>
        </classes>
    </test>

    <test name="Mall Web">
        <classes>
            <class name="cn.okay.mallpcpagetest.loginbeforetest.MallHomePageTestMall" />
            <class name="cn.okay.mallpcpagetest.loginbeforetest.MallLoginTestMall" />
            <class name="cn.okay.mallpcpagetest.parsmoudletest.PartsClassificationPageTestMall" />
            <class name="cn.okay.mallpcpagetest.parsmoudletest.PartsDetailPageTestMall" />
            <class name="cn.okay.mallpcpagetest.parsmoudletest.HeadsetPageTestMall" />
            <class name="cn.okay.mallpcpagetest.shopmoudle.OrderInformationPageTestMall" />
            <class name="cn.okay.mallpcpagetest.shopmoudle.PayPageTestMall" />
            <class name="cn.okay.mallpcpagetest.shopmoudle.ShopCarPageTestMall" />
            <class name="cn.okay.mallpcpagetest.shopmoudle.MyOrderPageTestMall" />
        </classes>
    </test>

    <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    <listener class-name="cn.okay.tools.MyTestNGListener" />
</listeners>
</suite>
